*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.sidebar {
    height: 100%;
    max-width:20%;
    flex: 2;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    min-width: 250px;
}

.map-container {
    flex: 7;
    height: 100%;
}

/* Force folium map and iframe to stretch */
#map {
    height: 100%;
    width: 100%;
}

#map > div {
    height: 100%;
}
#map >div> div {
    height: 100% !important;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.folium-map {
    height: 100% !important;
    width: 100% !important;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(208, 208, 215,20%);
}

select, input[type="checkbox"] {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-bottom: 3px solid #0056b3;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.leaflet-control-container .leaflet-bar-timecontrol {
    bottom: 50px !important;  /* Move up */
    right: 10px !important;   /* Move to right */
}

#flash-message {
    padding: 10px; 
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 30%;
    z-index: 1000;
}

#quality-container {
    padding: 10px;
}


#loader {
    display: none;
    position: absolute;
    z-index: 999;
    border: 16px solid #f4f4f4;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -76px;
    border-radius: 50%;
    border-top: 16px solid  #0056b3;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



#mapBar, #fetchBar{
    height: 100%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-toggle {
    display: flex;
    margin-bottom: 10px;
}

.toggle-btn {
    flex: 1;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 3px solid transparent;
}

.toggle-btn.active {
    background-color: #007BFF;
    color: white;
    border-bottom: 3px solid #0056b3;
}

.toggle-btn:not(.active):hover {
    background-color: #d0d0d0;
}


#download_buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#download_buttons > button {
    flex: 1;
    cursor: pointer;
}

.calendar {
    width: 100%;
    max-height: 10vh;
    overflow-y: auto;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


.date-cell {
    background-color: rgba(0,123,255,0.1);
    border: 1px solid #aac;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 0.85rem;
    margin: 2px;  /* Space between cells */
    flex: 0 0 33%; /* Ensure each date cell doesn't overflow */
    display: inline-block;
}

#selectRegion , #customRegion, #new_region_div, #existing_region_div {
    width: 100%;
    margin-left: 0;
    background-color: rgba(0,123,255,0.1);
    border: 1px solid #aac;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
}

#customRegion {
    padding: 5px !important;
}

#selectRegion > *, #customRegion >*, #new_region_div>*, #existing_region_div>*  {
    margin: 10px;
}
