<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SatLinkr</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapStyling.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    
    <div id="loader"></div>

    <div class="container">

        
        {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
            <div id="flash-message" >
                {{ messages[-1] }}
            </div>
            {%endfor%}
        {%endif%}
        {%endwith%}


        <!-- Map Section -->
        <div id="map" class="map-container">
            {{ map_html|safe }}

            
        </div>

        <!-- Sidebar Form Section -->
        <div class="sidebar">
            
            <div class="sidebar-toggle">
                <button id="toggle1" class="toggle-btn active" onclick="showSidebar(1)">Map Params</button>
                <button id="toggle2" class="toggle-btn" onclick="showSidebar(2)">Fetch Data</button>
            </div>

            <div class="card-container">

            </div>

            <div id="mapBar">
                <h1>Atmospheric Data Controls</h1>
                <form id="mapParams" method="POST">

                    <label for="region_select">Choose Region Option:</label>
                    <select id="region_select" name="region_option" onchange="toggleRegionSelect()" >
                        <option value="existing" selected>Select Existing Region</option>
                        <option value="custom" >Custom zone</option>
                    </select>


                    <div id="selectRegion">
                        <label for="existing_region1">Select Region:</label>
                        <select class="existing_region" name="existing_region" id="existing_region1">

                        </select>
                    </div>

                    <div id="customRegion" style="display: none">
                        <label for="satellite">Select Satellite</label>
                        <select name="satellite" id="satellite">
                            <option value="OCO2" {% if satellite == "OCO2" %}selected{% endif %}>OCO 2</option>
                            <option value="GOSAT" {% if satellite == "GOSAT" %}selected{% endif %}>GOSAT</option>
                            <option value="MODIS_DEEP_BLUE" {% if satellite == "MODIS_DEEP_BLUE" %} selected {% endif %}>Modis Deep Blue</option>
                        </select><br>

                    <label for="latitude">Latitude:</label>
                    <input type="number" step="any" id="latitude" name="latitude" value="{{ latitude }}" required><br>

                    <label for="longitude">Longitude:</label>
                    <input type="number" step="any" id="longitude" name="longitude" value="{{ longitude }}" required><br>

                    <label for="radius">Zone radius (km): </label>
                    <input type="number" id="radius" name="radius" min="1" max="10000" value="{{ radius }}" oninput="updateRadiusValue()">


                    </div>

                    <label for="gas">Select a Gas:</label>
                    <select name="gas" id="gas">
                        <option value="CO2" {% if selected_gas == "CO2" %}selected{% endif %}>CO2</option>
                        <option value="CH4" {% if selected_gas == "CH4" %}selected{% endif %}>CH4</option>
                        <option value="CO" {% if selected_gas == "CO" %}selected{% endif %}>CO</option>
                        <!-- <option value="NO2" {% if selected_gas == "NO2" %}selected{% endif %}>NO2</option> -->
                        <option value="H2O" {% if selected_gas == "H2O" %}selected{% endif %}>H2O</option>
                    </select>
                    
                    <div id="band-container" style="display:none;">
                        <label for="band">Select Band:</label>
                        <select name="band" id="band">
                            <option value="1590" {% if selected_band == "1590" %}selected{% endif %}>1590</option>
                            <!-- Band options will be dynamically updated based on the gas selected -->
                        </select>
                    </div>

                    <label for="datetime" id="date_span">Date (dd/mm/yyyy hh:mm):</label>
                    <input type="datetime" name="datetime" id="datetime" value="{{ datetime }}" required><br>

                    <label for="delta_time" id="delta_span">Delta time (minutes):</label>
                    <input type="number" id="delta_time" name="delta_time" value="{{ delta_time }}" required><br>
                    
                    <div id="quality-container" style="display: block;">
                        <label for="satellite_criteria">Satellite filter for quality:</label>
                        <select id="satellite_criteria" name="satellite_criteria">
                            <option value="True" {% if satellite_criteria == "True" %}selected{% endif %}>True</option>
                            <option value="False" {% if satellite_criteria == "False" %}selected{% endif %}>False</option>
                        </select><br>
                    </div>

                    <label for="allCsvDates"> <input type="checkbox" id="allCsvDates" name="allCsvDates"> All dates for csv</label>

                    <button type="submit">Update Map</button>
                    <div id="selected_gas" data-value="{{ selected_gas }}"></div>
                    <div id="selected_band" data-value="{{ selected_band }}"></div>
                    <div id="download_buttons">
                        <button type="button" onclick="sendMapHTML()"> Download Map </button>
                        <button type="button" onclick="sendCSV()">Download CSV </button>
                    </div>
                </form>
            </div>


            <div id="fetchBar" style="display: none;">
                <h1>Fetching data </h1>

                <form id="fetchParams" method="POST">

                    <label for="source">Choose File source:</label>
                    <select id="source" name="source" >
                        <option value="local">Local files only</option>
                        <option value="download" >Local and downloaded files</option>
                    </select>


                    <!-- Option Selector -->
                    <label for="region_option">Choose Region Option:</label>
                    <select id="region_option" name="region_option" onchange="toggleRegionFields()" >
                        <option value="existing" {% if option == "existing" %}selected{% endif %}>Select Existing Region</option>
                        <option value="new" {% if option == "else" %}selected{% endif %}>Create New Region</option>
                    </select>

                    <!-- Existing Region Dropdown -->
                    <div id="existing_region_div" >
                        <label for="existing_region2">Select Region:</label>
                        <select class="existing_region" name="existing_region" id="existing_region2">

                        </select>
                    </div>

                    <!-- New Region Input Fields -->
                    <div id="new_region_div" style="display: none;">
                        <label for="region_name">Region Name</label>
                        <input type="text" id="region_name" name="region_name"><br>

                        <label for="satellite_fetch">Select Satellite</label>
                        <select name="satellite_fetch" id="satellite_fetch">
                            <option value="OCO2" {% if satellite == "OCO2" %}selected{% endif %}>OCO 2</option>
                            <option value="GOSAT" {% if satellite == "GOSAT" %}selected{% endif %}>GOSAT</option>
                            <option value="MODIS_DEEP_BLUE" {% if satellite == "MODIS_DEEP_BLUE" %} selected {% endif %}>Modis Deep Blue</option>
                        </select><br>

                        <label for="latitude_fetch">Latitude:</label>
                        <input type="number" step="any" id="latitude_fetch" name="latitude_fetch"><br>

                        <label for="longitude_fetch">Longitude:</label>
                        <input type="number" step="any" id="longitude_fetch" name="longitude_fetch"><br>

                        <label for="radius_fetch">Select radius (km): </label>
                        <input type="number" id="radius_fetch" name="radius_fetch" min="1" max="10000" value="10"><br>
                    </div>

                    <label for="datetime_start">Starting date (dd/mm/yyyy):</label>
                    <input type="datetime" name="datetime_start" id="datetime_start"  required><br>

                    <label for="datetime_end">Ending Date (dd/mm/yyyy):</label>
                    <input type="datetime" name="datetime_end" id="datetime_end"  required><br>

                    <label><input type="checkbox" id="keepOption" name="keepOption">  Keep files </label>

                    <button type="submit">Fetch</button>
                </form>



        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/flashTimeout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mapResize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gasOptions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mapFetch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/csvFetch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mapUpdate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebarControl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/viewCalendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fetchFormControl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fetchRequest.js') }}"></script>
</body>
</html>
